@import "../../../values.scss";
.ItemChar {
  display: flex;
  flex-direction: column;
  margin: 0 2px;
}
.ItemCharValue {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 24px;
  width: 24px;
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif !important;
}
.ItemCharNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cdc0b0;
  color: $primary;
  height: 24px;
  width: 24px;
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif !important;
}
