@import "../../../values.scss";

.CardItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  margin: 5px auto;

  @media screen and (max-width: 1024px) {
    // Когда ширина экрана не будет превышать 1024px
    height: 60px;
    width: 60px;
    margin: 1px auto;
  }

  @media (min-width: 600px) {
    //height: 60px;
    //width: 60px;
  }
  @media (min-width: 1080px) {
    //height: 70px;
    // width: 70px;
  }
}

.Button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.TextValue {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-weight: normal;
  font-size: 32px;
  line-height: 1;
  @media screen and (max-width: 1024px) {
    // Когда ширина экрана не будет превышать 1024px
    font-size: 26px;
  }
}
.TextSup {
  top: 0;
  font-size: 15px;
  left: 3px;
  color: $light;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  @media screen and (max-width: 1024px) {
    // Когда ширина экрана не будет превышать 1024px
    font-size: 12px;
  }
}
.ImgTaro {
  margin-bottom: 5px;
  height: 50px;
  transition: all 300ms;

  &:hover {
    transform: scale(5);
  }

  @media screen and (max-width: 1024px) {
    // Когда ширина экрана не будет превышать 1024px
    height: 40px;
  }
}

.Selected {
  border: 1px solid $light;
  border-radius: 15px;
}

.CardItemTwoPortrait {
  height: 50px;
  width: 50px;
  margin: 1px auto;

  .TextValue {
    font-size: 22px;
  }
}

.CardItemDescPosition {
  height: auto;
  width: 85px;
  box-sizing: content-box;
}

.DescPosition {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  span {
    display: inline;
    background-color: white;
  }
}
.SpanItemValuePower {
  position: relative;
  &::before {
    content: "С";
    position: absolute;
    color: $light;
    right: -10px;
    top: -3px;
    font-size: 15px;
  }
}
.SpanItemValueShadow {
  position: relative;
  &::before {
    content: "Т";
    position: absolute;
    color: $light;
    right: -10px;
    top: -3px;
    font-size: 15px;
  }
}
.SpanItemValueTarget {
  position: relative;
  &::before {
    content: "Ц";
    position: absolute;
    color: $light;
    right: -10px;
    top: -3px;
    font-size: 15px;
  }
}
