@import "../../../values.scss";
.bg {
  background-color: #fff;
}

.Row {
  height: 100%;
}

.Col {
  position: relative;
  padding: 0;
}

.Bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
  object-fit: cover;
  object-position: center;
}

.LabelText {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  min-height: 25px;
}

.InputForm {
  text-align: center;
  border-radius: 25px;
  border: 1px solid #000;
  height: 55px;
  font-size: 1.4em;
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-size: 35px;
  max-width: 310px;
  height: 55px;
  text-transform: capitalize;

  &:target,
  &:focus,
  &:active {
    border-color: $primary;
    box-shadow: 0px 0px 1px 2px $primary;
  }
}
.InputFormIsInValid {
  border-color: #dc3545;

  color: #dc3545;
}

.ButtonSubmit {
  width: 200px;
  height: 50px;
}

.TextNameArchetype {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
