@import "../../../values.scss";
.CardPortrait {
  position: relative;
  margin: auto;
  padding: 20px 20px 15px 20px;
  box-shadow: 0px 0px 15px 0px #00000040;
  border-radius: 20px;
  min-width: 780px;
  max-width: min-content;
  background-color: #fff;
  @media screen and (max-width: 500px) {
    padding: 20px 20px 15px 20px;

    width: fit-content;
    max-width: none;
    min-width: auto;
  }
}
.Container {
  margin: auto;
}
.BackgroundColor {
  background-color: $background;
}

.Wrapper {
  @media screen and (max-width: 500px) {
    height: 350px;
    min-height: 350px;
    max-height: 350px;
  }
}

.WrapperPrint {
  //
}

.Print {
  //

  .ContainerForBase {
    //
    @media print {
      //
    }
  }
  .ContainerForFullIndivid {
    //
    @media print {
      //
    }
  }

  .ContainerForAlphabet {
    //
    @media print {
      //
    }
  }

  .ContainerForTwoPortrait {
    //
    @media print {
      //
    }
  }

  @media screen and (max-width: 1024px) {
    // Когда ширина экрана не будет превышать 1024px
  }
  @media screen and (max-width: 600px) {
    // Когда ширина экрана не будет превышать 600px
  }
}

.ButtonPrint {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
  @media print {
    display: none;
  }
  @media (max-width: 600px) {
    margin: 5px;
  }
}

.CardPortraitFullIndivid {
  min-width: 800px !important;
  .Container {
    width: 760px !important;
    height: 878px !important;
  }

  @media screen and (max-width: 500px) {
    margin: auto;
    transform: scale(0.4);
    transform-origin: top;
  }
}
.CardPortraitBase {
  min-width: 800px;
  @media screen and (max-width: 500px) {
    margin: auto;
    transform: scale(0.4);
    transform-origin: top;
  }
}

.CardPortraitAlphabet {
  min-width: 800px;
  .Container {
    width: 760px !important;
    height: 878px !important;
  }
  @media screen and (max-width: 500px) {
    margin: auto;
    transform: scale(0.4);
    transform-origin: top;
  }
}

.CardTwoPortrait {
  padding-bottom: 80px;
  min-width: 1200;
  max-width: max-content;

  .Container {
    width: 1256px !important;
    height: 817px !important;
  }
  @media screen and (max-width: 500px) {
    margin: auto;
    transform: scale(0.25);
    transform-origin: top;
  }
}
