@import "../../values.scss";

.RowBorderBottom {
  border-bottom: 1px solid $gold;
}
.CenterLine {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    border-right: 1px solid $gold;
  }
}

.CardItemTitle {
  font-family: "Romul", sans-serif !important;
}
.CardItemNumber {
  font-size: 30px;
  font-family: "Romul", sans-serif !important;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonSubmit {
  letter-spacing: 1.5px;

  @media (min-width: 1080px) {
    height: 40px;
    width: 460px;
  }
}

.ImgIcon {
  height: 24px;
}

.TitleCycle {
  color: $primary;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.FontArchetypeSize {
  @media (max-width: 600px) {
    font-size: 14px;
  }
}
