@import "../../values.scss";
.Header {
  background-color: #fff;
  height: 65px;
  position: relative;
}
.HeaderContainer {
  position: relative;
  z-index: 15;
}
.ImgLogo {
  margin-top: 5px;
  height: 32px;
}
.ImgLogoMin {
  height: 25px;
}
.ButtonMenu {
  margin: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 32px;
  background-color: #ede6dc;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  &:hover,
  &:active,
  &:target {
    background-color: #ddd5c9;
  }
}

.Menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  transition: all 500ms ease;
  transform: translateY(-200%);
  background-color: #fff;
  z-index: 10;
}

.MenuActive {
  display: flex;
  transform: translateY(-5px);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
.MenuList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px 0;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  button {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid transparent;
    &:hover,
    &:target,
    &:focus {
      color: $primary;
      border-color: $primary;
    }
  }
}

.Wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}
.WrapperActive {
  display: block;
}
