@import "../../../values.scss";
.ItemResContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 350px;
}
.ItemRes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ItemResTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif !important;
}
.ItemResValue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $light;
  height: 32px;
  width: 48px;
  font-size: 20px;
  font-family: "Cambria", Cochin, Georgia, Times, "Times New Roman", serif !important;
  border-radius: 5px;
}
